
<html>
	<head>
		<meta charset="UTF-8">
		<title> Index </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">					 
	</head>
	<body></br></br></br></br></br>
		<div align="center">
		<div align="center" class="border">
			
				<p class="text">Generated disposable id :</p>
			<br><br><br>
            <div class = "text" >
                dis_id
            </div>
			<br><br><br><br>
			<div class="botmid">
				<a href="{{ url_for('logout') }}" class="btn">Logout</a>
			</div>
		</div>
		</div>
	</body>
</html>
