<!DOCTYPE html>
<html>
    <title>Sign Up</title>

    <body>
        <h1>Sign Up</h1>

        <form action = "#" method = "post">
            <p>Username:</p>
            <p><input type="text" name="nm" /></p>
            <p>Email:</p>
            <p><input type="emai" name = "email"/></p>
            <p>Password:</p>
            <p><input type="password" name = "ps"/></p>
            <p>Retype Password:</p>
            <p><input type="password" name = "rtps"/></p>
        </form>
    </body>
</html>