<html>
<head>
    <meta charset="UTF-8">
    <title>List Aliases</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body><br><br>
    <div align="center">
        <form action="#" method="post">
            <div>
                {% for i in range(length) %}  {# Increment i within the loop #}
                    <input type="text" name="text{{i+1}}" value="{{ des_ids[i]['des_id'] }}">
                    {% if des_ids[i]['allow'] == 1 %}
                        <input type="submit" name="revert{{i}}" value="disable">
                    {% else %}
                        <input type="submit" name="revert{{i}}" value="enable">
                    {% endif %}
                    <br><br>
                {% endfor %}
            </div>
        </form>
    </div>
</body>
</html>
